
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100.01%;
	vertical-align: baseline;
} /* RESET ALL - Authored by nixer@ndevix.com {This is here because dreamweaver is annoying when doing source formatting} */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

a { text-decoration: none; }

img { border: 0; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

blockquote, dl, dd, ol, p, pre, textarea, ul, li { margin-bottom: 0.83em; }

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

table td, table th { vertical-align: middle; }

input, textarea, select {
	width: auto;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	outline: 0;
	color: #444;
}

select { padding: 4px 5px; }

input.button {
	padding: 7px 15px;
	background-color: #e9c64e;
	background: -moz-linear-gradient(90deg, #e9c64e 0%, #f1f1f1 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 90deg, color-stop(0%, #e9c64e), color-stop(100%, #f1f1f1));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(90deg, #e9c64e 0%, #f1f1f1 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(90deg, #e9c64e 0%, #f1f1f1 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(90deg, #e9c64e 0%, #f1f1f1 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9c64e', endColorstr='#f1f1f1', GradientType='0'); /* for IE */
	background: linear-gradient(0deg, #e9c64e 0%, #f1f1f1 100%);/* W3C */
	border: 1px solid #999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	font: 700 0.83em 'Roboto', tahoma, verdana, arial, sans-serif;
	color: #000;
	cursor: pointer;
}

label.chk { padding: 8px 0 0 0; }

label strong, legend {
	font: 700 0.83em/18px 'Roboto', Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.clearfix:after, .clear {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

aside {
	float: left;
	width: 50%;
}

aside.leftmenu {
	position: relative;
	float: left;
	width: 300px; /* CHANGE THIS */
	z-index: 2;
}

aside.rightmenu {
	position: relative;
	float: right;
	width: 300px; /* CHANGE THIS */
	margin-left: -100%;
	z-index: 2;
}

aside.main {
	position: relative;
	float: left;
	width: 100%;
	z-index: 1;
}

aside.main #inner-right {
	position: relative;
	margin-left: 320px;  /* CHANGE THIS */
}

aside.main #inner-left {
	position: relative;
	margin-right: 320px; /* CHANGE THIS */
}

* html .clearfix { zoom: 1 }

*:first-child+html .clearfix { zoom: 1 }

html, body {
	width: 100%;
	height: auto;
}

body {
	height: 100%;
	background-color: #fff;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	line-height: 1;
}

h1 { font-size: 1.8em; }

h2 { font-size: 1.3em; }

h3 { font-size: 1.23em; }

h4 { font-size: .85em; }

h5 { font-size: .75em; }

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #00ADEE;
}

.floatl { float: left; }

.floatr { float: right; }

.wrap {
	position: relative;
	width: auto;
	padding: 0 10px;
	max-width: 1040px;
	min-width: 580px;
	margin: 0 auto;
}

.block { display: block; }

.none { display: none; }

.bump { margin-top: 10px; }

.bumpr { margin-right: 5px; }

.bumpright { margin-right: 15px; }

.center { margin: 0 auto; }

.padme { padding: 5px; }

.padmemore { padding: 10px; }

.nopad { padding: 0; }

.pointer { cursor: pointer; }

.textleft, td.textleft, th.textleft, div.textleft { text-align: left; }

.textright, td.textright, th.textright, div.textright { text-align: right; }

.textcenter, td.textcenter, th.textcenter, div.textcenter { text-align: center; }

.fineprint { font-size: 75% !important; }

.white {
	float: left;
	padding: 25px 25px;
	background-color: #fff;
	-moz-border-radius: 5px;/*Firefox*/
	-webkit-border-radius: 5px;/*Safari, Chrome*/
	-khtml-border-radius: 5px;/*Konqueror*/
	border-radius: 5px;
	behavior: url(pie.htc);/*Apply PIE*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=149, Color=#5a5a5a)";/*IE 8*/
	-moz-box-shadow: 3px 5px 8px #5a5a5a;/*FF 3.5+*/
	-webkit-box-shadow: 3px 5px 8px #5a5a5a;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	-khtml-box-shadow: 3px 5px 8px #5a5a5a;/*Konqueror*/
	box-shadow: 3px 5px 8px #5a5a5a;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=149, Color=#5a5a5a); /*IE 5.5-7*/
}

p.text {
	padding: 5px 20px 0 0;
	font: 400 1em/1.1em 'Roboto', Arial, Helvetica, sans-serif;
}

.hr { /* Because <HR /> tags are dicks */
	height: 1px;
	background: #ddd;
	width: 100%;
	font-size: 1px;
	overflow: hidden;
}

.error {
	margin-bottom: 5px;
	padding: 5px;
	background: #c61831;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	font: 700 1em 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
}

header { padding: 30px 10px 0 10px !important; }

header #logo {
	display: block;
	float: left;
	max-width: 40px;
}

header #logo img {
	display: block;
	width: 100%;
	max-width: 40px;
}

header #social {
	float: right;
	margin-bottom: 25px;
}

header #social img { height: 40px; }

header #social a { margin: 0 0 0 15px; }

nav {
	float: right;
	width: 100%;
	max-width: 780px;
}

nav ul {
	margin: 0;
	position: relative;
}

nav ul li {
	float: left;
	width: 25%;
	margin: 0;
	list-style: none;
}

nav ul li a {
	display: block;
	height: 35px;
	width: 100%;
	font: 400 1.3em/35px 'Roboto', Arial, Helvetica, sans-serif;
	color: #00ADEE;
	text-transform: uppercase;
	text-align: right;
}

nav ul li a:hover {
	text-decoration: none;
	color: #876501;
}

nav ul li div.submenu {
	display: none;
	position: absolute;
	overflow: inherit;
	z-index: 8;
}

nav ul li:hover div.submenu {
	display: block;
	float: none;
	padding: 5px;
	margin-top: -5px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=158, Color=#a1a1a1)";/*IE 8*/
	-moz-box-shadow: 2px 5px 5px #a1a1a1;/*FF 3.5+*/
	-webkit-box-shadow: 2px 5px 5px #a1a1a1;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 2px 5px 5px #a1a1a1;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=158, Color=#a1a1a1); /*IE 5.5-7*/
}

nav ul li:hover div.submenu a {
	display: block;
	margin: 2px 0;
	width: auto;
	height: auto;
	padding: 5px 0;
	font: normal 0.83em 'Roboto', Arial, Helvetica, sans-serif;
	text-align: left;
	color: #000;
}

footer {
	margin-top: 20px !important;
	padding: 20px 0;
	border-top: 3px solid #00aced;
	font: 700 0.83em Arial, Helvetica, sans-serif;
}

footer a { color: #00aced; }

#front {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

#map-canvas {
	width: 100%;
	height: 400px;
	margin: 10px 0;
}

#directions-panel { width: 100%; }

#directions-panel .adp-marker { padding: 5px; }

#iv {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.85);
	z-index: 8;
}

#iv_wrap {
	position: absolute;
	left: 50%;
	top: 50%;
}

#iv_img {
	display: block;
	border: 5px solid #fff;
}

#iv_close {
	position: absolute;
	display: none;
	width: auto;
	height: 30px;
	padding: 5px 15px;
	background: rgba(0,0,0,0.8);
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-top-left-radius: 0px;
	-khtml-border-top-right-radius: 0px;
	-khtml-border-bottom-right-radius: 5px;
	-khtml-border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0px;
	behavior: url(pie.htc);
	font: bold 1em/30px Arial, Helvetica, sans-serif;
	text-align: center;
	cursor: pointer;
	color: #fff;
	z-index: 9;
}

#iv_content { position: relative; }

#iv_content a:hover #iv_close { display: block; }

.sponsor {
	width: auto;
	height: 60px;
	margin-right: 5px;
}

.livesearch {
	width: 98%;

}