@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html {
    height: auto;
    min-height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
}
body {
    background: #222;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
p, ol li {
    font-family: 'Poppins', sans-serif;
    font-size: 0.93em;
    font-weight: 400;
    line-height: 1.5em;
}
header {
    background-image: url('images/bkg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border-bottom: 2px solid #000;
    
}
hr {
    color: #888;
    background: #888;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.table th {
    text-align: center;
}
.container-fluid, .container {
    min-height: 100%;
}
.navbar {
    background: #000;
}
.navbar-toggler { color: #fff;}
.navbar-brand {
    color: #fff;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#img-upload {
    width: 100%;
    margin: 0 auto 5px auto;
}
